<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	  <!-- ڕێگەپێدانی کامێرا -->
    <key>NSCameraUsageDescription</key>
    <string>ئەم ئەپە کامێرا بەکاردەهێنێت بۆ سکانی باڕکۆدی کاڵاکان</string>
    
    <!-- ڕێگەپێدانی گەڕان بە دەیتابەیس (ئارەزوومەندانە) -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>ئەم ئەپە دەتوانێت وێنە بخوێنێتەوە بۆ سکانی باڕکۆد</string>
    
    <!-- ڕێگەپێدانی Local Network (ئەگەر پێویستت بوو) -->
    <key>NSLocalNetworkUsageDescription</key>
    <string>ئەم ئەپە دەتوانێت لەسەر تۆڕی ناوخۆیی کاربکات</string>
    
    <!-- پشتگیری ئارکیتێکتی ٦٤-بیت -->
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    
    <!-- پشتگیری هەموو ئارکیتێکچەرەکان -->
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
	<!-- مۆڵەتەکان بۆ گەیشتن بە کۆگا -->
    <key>NSDocumentsFolderUsageDescription</key>
    <string>پاراستن و گەڕاندنەوەی باکئەپ</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>هاوبەشکردنی فایلەکانی باکئەپ</string>
    
    <!-- پشتخانی فایل -->
    <key>UISupportsDocumentBrowser</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    
    <!-- ڕێگریکردن لە بەکارهێنانی iTunes -->
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Koga</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>koga</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
